
/********** colores para ordenar ****************/

.color1{
	background-color:#FDCE72;
	}
	
.color2{
	background-color:#FDD5D3;
	}
.color3{
	background-color:#600001;
	}
.color4{
	background-color:#9DBCD9;
	}
.color5{
	background-color:#0B2E82;
	height:135px;
	}
.color6{
	background-color:#005236;
	}
.color7{
	background-color:#007575;
	}
.color8{
	background-color:#FF0D01;
	}
.color9{
	background-color:#B24E00;
	}
.color10{
	background-color:#0959A4;
	}
.color11{
	background-color:#006F82;
	}
.color12{
	background-color:#999999;
	}
.color12{
	background-color:#63AC1F;
	}
/*** aqui coloco los css para generales ******/
.fondoo_negro_total
{
	  background-color: rgba(0, 0, 0, 0.7);
}

.fondoo_blanco_total
{
	  background-color: rgba(255, 255, 255, 0.7);
	  }


/***** Flotar ,padding  **********/
/*********************************/
.pading_20{
	padding-left:20px;
	padding-right:20px;
	
	}
/*********************************/

/***** fondos y colores generales*/	
.fondo_negro_degra_total
{
	  background-color: rgba(0, 0, 0, 0.7);
}	

.fondoo_negro_degra_total
{
	  background-color: rgba(56, 46, 55, 0.7);
}	

.fondoo_negro_total_poppus
{
	  background-color: rgba(0, 0, 0, 0.6);
}


.fondo_rojo_degra_total 
{
	
	background-color:rgba(245, 43, 43, 0.6);
}

.fondo_gris_degra_total
{
	  background-color: rgba(170, 170, 170, 0.6);
}

.fondo_gris2_degra_total
{
	  background-color:#F5F5F5;
}	

.div_redondo {
margin: 0px auto;
text-align: center;	
background-color: #F00;
height: 200px;
width: 200px;
padding: 10px;
overflow:auto;
/*para Firefox*/
-moz-border-radius: 250px 250px 250px 250px;
/*para Safari y Chrome*/
-webkit-border-radius: 250px 250px 250px 250px;
/* para Opera */
border-radius: 250px 250px 250px 250px;
}

.pading_bottom
{
	padding-bottom:10px;
}

.text_justificado
{
	text-align: justify;}

.pading_top
{
	padding-top:10px;
}

.pading_top_30
{
	padding-top:30px;
}

.pading_left_10
{
	padding-left:10px;
}

.pading_izquierdo_20
{
	padding-left:25px;
}

.pading_derecho_20
{
	padding-right:25px;
}

.quitar_padding
{
	padding:0px;
}
.quitar_margen
{
	
margin:0px;
}


.quitar_borde
{
	border:0px;
}

.flotar_derecha 
{
	float:right;
}

.flotar_izquierda
{
	float:left;
}
.over_flou
{ overflow:auto;
height:90%;

}

.over_flou_desc_plato /****para descripcion de listado _platos  */
{ 
overflow:auto;
height:75px;

}
	
.auto_flotar{
	height:80px;
	overflow:auto;
	width:90%;}

.agustar
{
	margin: 0px auto;
	text-align: center;
}


.margin_boton_guarda
{
  margin-left: 30%;
}

.margin_top
{
	
	margin-top:20px
}

.margin_bottom_30
{
	margin-bottom:30px;
}
.text_blanco
{
	color:#FFF;
}
	
.text_zise_18
{
	font-size:18px;
}
		
.text_negro
{
	color:#000;
}

.text_blanco
{
	color:#FFF;
}
	
.tam_texto_10
{
	font-size:10px
}
	
.tam_texto_11
{
	font-size:11.3px;
}

.tam_texto_12
{
	font-size:12px;
}

.tam_texto_14
{
	font-size:14px
}

.tam_texto_16
{
	font-size:16px}

.flotar 
{
  overflow: auto;
}

.margen_derecho
{
	margin-right:5px;
}
	
.margen_izquierdo
{
	margin-left:5px;}

.margen_bottom
{
	margin-bottom:10px;}


.cambiar {
	border: 0px solid #F00;
}
.cambiar:hover {
	border: 1px solid #F00;
}
/***** tamaños login  **********/
.tam_login_uno
{
	
	height:200px;
	}
	
.tam_login_dos
{
	
	height:220px;
	padding-top:50px;
	}

.tam_login_texto
{
	font-size:16px;
	border-radius:0px;
	padding:auto;
	height:50px;
	margin-bottom:11px;
	width:110%;
	color:#000;
}
.tam_buton_grande_login {
  
  border-radius:0px;
  width:90%;
  margin-top:40px;
  
}


/*** Aqui editos los cc  para administardor.php*/
/******    tamaños   **********/
.tam_text_buscar      /****/
{
	width:50%;
	float:left;
	height:25px;
	border-radius:0px;
}

.tam_boton_buscar      /****/
{
	
	margin-top:18px;
	margin-bottom:20px;
}

.tam_espacio_libre_uno
{
	height:78px;
}

.tam_result_busqueda_mitad1 /****/
{
    overflow: auto;
    padding-left: 35px;
    padding-right: 26px;
	height:500px;
}

.tam_result_busqueda_mitad1_resultado /**listado de platos**/
{
    
    padding-left: 35px;
    padding-right: 26px;
	
}

.tam_texto_us_espe{
	height:21px;
	padding:0;
	border-radius:0px;
	width:100%;
	margin-bottom:10px;
	margin-left:6px;
	
	}
	
.pading_top_elimi_y_edi
{
	
	padding-top:14%;}
	
/***** css para nuevo usuario ********/	
.fondo_transparente
{
	 background-color:transparent; 
	 	 
}


	
	
/***tamaños para rows de modulos_mas_usados.php **/
.tam_row_sobre_texto
{
	height:54px;
} 
.tam_row_sobre_selec
{
	height:40px;
} 
.tam_row_bajo_selec
{
	height:44px;
}
.tam_row_grafica
{
	height:454px;
	overflow:auto;}
	
.class_select_modulo_mas {
    background-color: #FFF;
    background-image: url(../gfx/fondo_select.fw.png);
    background-position: 83% center;
    background-repeat: no-repeat;
    border:0px;
    float: left;
    font-size: 14px;
    height: 28px;
    overflow: hidden;
    padding: 0;
    width: 110%;
}

.conte_select_modulo_mas
{
    background-color: #FF0000;
	margin-bottom:10px;
    overflow: hidden;
    width: 60%;
	
}
/***** css para sugerencias***/
.tam_especi_sugerencia{
	background-color: rgba(180, 176, 176, 0.7);
    border: 1px solid;
    border-radius: 0;
    color: #585A5B;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    padding-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: #FFF;
	/*height:90px;*/
	overflow:auto;
	
	
	}
	
.tam_especi_sugerencia:hover{
	background-color: rgba(245, 43, 43, 0.6);
    border: 1px solid;
    border-radius: 0;
    color: #FFF;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    padding-top: 5px;
	margin-left:10px;
	margin-right:10px;
    border-color: #FFF;
	
	
	}


.tam_boton_sugerencias {
    
	width:87%;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:0px;
	
}
/********************************css mapa******************/
.tam_mitad_mapa_uno {
    padding-left: 30px;
    padding-right: 30px;
	height: 450px;
}
.tam_mitad_mapa_dos {
    border: 10px solid #818181;
    
}

.tam_espa_libre_mapa_uno
{
	margin-bottom:40px;
	margin-top:35px;}	

	


/**css para noticias.php */
.tam_espacio_libre_nit_uno{
	height:50px;}
	
.tam_espacio_libre_nit_dos{
	height:27px;}
	
.tam_text_area_noti
{
	width:100%;
	height:180px;
	border-radius:0px;
	border:0px;
}

.pading_tex_mhub{
	padding-top:90px;}

.tam_text_noticia{
	border-radius:0px;
	height:38px;}	

/** tamaños noticias anteriores*****/	
.tam_especi_noti_ante{
	
	height:425px;
	overflow:auto;
	
	}
.tam_espa_libre_noti_ante_uno
{
	margin-bottom:80px;
	margin-top:55px;}	

.tam_espa_libre_noti_ante_dos
{
	margin-bottom:80px;
	margin-top:40px;}	
	
.class_select_noti_ante_dos {
    background-color: #FFFFFF;
    background-image: url("../gfx/fondo_select.fw.png");
    background-position: 85% center;
    background-repeat: no-repeat;
    border: 0 none;
    float: left;
    font-size: 14px;
    height: 22px;
    overflow: hidden;
    padding: 0;
    width: 110%;
    
}
.conte_select_noti_ante_dos {
    background-color: #FF0000;
    margin-bottom: 10px;
    overflow: hidden;
    width: 98%;
    
}

.class_select_noti_ante_uno {
    background-color: #FFF;
    background-image: url(../gfx/fondo_select.fw.png);
    background-position: 79% center;
    background-repeat: no-repeat;
    border:0px;
    float: left;
    font-size: 14px;
    height: 22px;
    overflow: hidden;
    padding: 0;
    width: 120%;
}

.conte_select_noti_ante_uno
{
    background-color: #FF0000;
	margin-bottom:10px;
    overflow: hidden;
    width: 70%;
	
}

.tam_buton_grande_agregar {
  color: #ffffff;
  background-color:red;
  border-color: #357ebd;
  border-radius:0px;
}

.border_rojo
{
	border:2px solid #E93F37;
	 }
	 
.border_verde
{
	border:2px solid  #093;
	 }
/*** css para listado de platos*****/
.tam_listado_platos
{
	height:540px;
	overflow:auto;
}


/***** css para crear_plato ******* */
.div_redondoo{
	
	border-radius:250px;}

.tam_mitad_crear_plato /****/
{
    
    padding-left: 35px;
    padding-right: 30px;
	height:500px;
	margin-bottom:43px;
}

.tam_texto_crear_pla_1,
.tam_texto_crear_pla_2,
.tam_texto_crear_pla_3,
.tam_texto_crear_pla_4
{
	padding:0;
	border-radius:0px;
	width:72%;
	margin-bottom:10px;
	}
.tam_texto_crear_pla_1{
	height:23px;
	
	}
.tam_texto_crear_pla_2{
	height:30px;
	
	}

.tam_texto_crear_pla_3{
	height:100px;
	
	}
	
.tam_texto_crear_pla_4{
	height:68px;
	
	}
.tam_text_fecha{
	
	width:75%;
	
	
	}
/***** css crear_menu *****/
.tam_mitad_crear_menu_uno {
    
    margin-bottom: 43px;
    padding-left: 35px;
    padding-right: 71px;
}
.tam_mitad_crear_menu_dos {
    margin-bottom: 43px;
    padding-left: 150px;
    padding-right: 30px;
}

.tam_text_menu1{
	height:30px;}

.tam_text_menu2{
	height:70px;}
	
.pading_top_boton_negro_menu{
	
	margin-top:35px;}	

.tam_resul_bus
{
	height:310px;}
	
	
input[type="checkbox"]{ display: none; } /*******pra el check estilo */
 
input[type="checkbox"] + label span{
    display: inline-block;
    width: 41px;
    height: 35px;
    background: url(../gfx/bien_cheked.png) left top no-repeat;
	
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor:pointer;
}
 
input[type="checkbox"]:checked + label span{
    background: url(../gfx/bien_cheked_palomita.png) left top no-repeat;
}





/******css para ocupacion comedor  ********/
.espacio_comedor_textysema{
	
	margin-bottom:122px;
	margin-top:33px;}
	
.espacio_comedor_arritext{
	
	margin-top:160px;}
	
.espacio_comedor_bajotext{
	
	margin-bottom:170px;}

/**************************** css para faq´s */

.text_faq {
	background-color:#F5F5F5;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	width:90%;
}

.tam_textarea_faq
{
	width:100%;
	float:left;
	height:180px;
	border-radius:0px;
	border:0px;
}

.tam_especi_faqs{
	
	height:480px;
	overflow:auto;
	
	}

/************cc para telefonos  *************/
.margen_top_telefonos
{
	margin-top:50px;}

.tam_conte_telefonos
{
	height:450px;
	overflow:auto;}
	
.margen_abajo_telfonos
{
	margin-bottom:15px;}
	
/******** css para perfiles   ******/
.margin_bottom_60
{
	margin-bottom:60px;
}

/* colores y formato*/
.estilo_buton_grande_agregar {
  color: #ffffff;
  background-color:#000000;
  border-color: #357ebd;
  border-radius:0px;
}

.estilo_resultado_busqueda      /****/
{    
	background-color: rgba(99, 93, 94, 0.6);
    margin-bottom: 12px;
	padding-top:5px;
	padding-bottom:5px;
	color:#FFF;
	font-size:16px;
}

/*********** css caracteristicas para popus */
.tam_text_pupus_peque_tele
{
	height:22px;
	border-radius:0px;
	border:0px;
	padding:0px;}

/**** espacios entre rows  */

/** espacio para admin*/
.pading_row_uno{
	padding-top:20px;
	}
/** espacio para menus mas usados */
	
/*****  ******/

/**editando carcteristicas por defecto  **/
body {
	background-image: url(../gfx/fondo.png);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar
{
  margin-bottom: !important 0px;
}

.btn-primary:hover
 {
  color: #ffffff;
  border-color:#6E6E6E;
  
}

.panel-group_faq .panel_faq + .panel_faq {
    margin-top: 0px;
}

.btn-primary
 {
  color: #ffffff;
 border-color:#000;
 background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
 background: -moz-linear-gradient(top,  #666,  #000);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
   background: -webkit-gradient(linear, left top, left bottom, from(#6E6E6E), to(#000));
   background: -moz-linear-gradient(top,  #666,  #000);
    border-color: #285E8E;
    color: #FFFFFF;
}



.conte_select
{
    background-color: #FF0000;
	   margin-bottom:10px;
    margin-right: 7px;
    overflow: hidden;
    width: 100%;
	
}

.class_select {
    background-color: #FFF;
    background-image: url(../gfx/icono_select);
    background-position: 82.5% center;
    background-repeat: no-repeat;
    border:0px;
    float: left;
    font-size: 14px;
    height: 25px;
    overflow: hidden;
    padding: 0;
    width: 120%;
	
}

.btn-default
{
  color: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#AEB4B6);
  background: -moz-linear-gradient(top,  #666,  #AEB4B6);
  border-color: #cccccc;
  
}



